name: Build kernel

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: bash ./build-linux.sh

      - name: Rename
        run: mv build/arch/arm64/boot/Image kernel

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: kernel
          path: kernel
          
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: kernel
            
