name: Build kernel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: bash ./build-linux.sh

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: kernel
          path: build/arch/arm64/boot/Image
